body{
    background: grey;
}
.reloj {
    background: #FFF url('https://cssanimation.rocks/images/posts/clocks/ios_clock.svg') center no-repeat;
    background-size: 85%;
    border-radius: 50%;
    height : 500px;
    width: 500px;
    position: relative;
    margin: auto;
}

.reloj::after{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    
    background: #000;
    border-radius: 50%;
    content: "";
   
    transform: translate(-50%,-50%);
    margin: auto;

}

.contenedor-segundero, .contenedor-minutero, .contenedor-hora {
    position: absolute;
    width : 100%;
    height: 100%;
}

.segundero {
  background: #FF0000;
  height: 45%;
  width: 5px;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, 0%);
}

 .minutero {
    background: #000000;
    height: 45%;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 7px;
  }

.hora {
    background: #333;
    height: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10px;
}

 .contenedor-segundero {
    animation: rotate 60s infinite steps(60);
} 

.contenedor-minutero {
    animation: rotate 3600s infinite steps(60);
    
}

.contenedor-hora {
	animation: rotate 10s infinite steps(60);
}

.second{
    background: #FF0000;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 5px;
    transform-origin: bottom center;
    transform: rotate(0deg);
    animation: rotate 60s;
} 

@keyframes rotate {

    100% {
        transform: rotateZ(360deg);
    }
}


